/*
 Theme Name:   Indohotels Orange Child
 Theme URI:    https://indohotels.group/indohotels-orange-child/
 Description : Indohotels Orange Child Theme
 Author:       Amri K
 Author URI:   http://amrikarisma.com
 Template:     indohotelswp
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, one-columns, responsive-layout, accessibility-ready
 Text Domain:   indohotels-orange-child
*/

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    position: relative
}

.krs-hidden {
    opacity: 0
}

.krs-visible {
    opacity: 1
}

.header-home {
    width: 100%;
    color: #fff
}

.home-slider {
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover
}

.header-image-page {
    height: 28vh;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    text-align: center;
    object-fit: cover;
}

.header-all {
    background-color: #ff900c;
    width: 100%;
    text-align: center;
    color: #CACACA
}

header .search-hotels {
    padding-top: 280px;
    padding-bottom: 200px
}

.cover-check {
    margin-bottom: 30px
}

.booking-title {
    padding: 5px 0;
    font-size: 16px
}

.powered-by {
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 100px
}

#home-main-info,
#featured-box {
    width: 100%;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 80px;
    text-align: center
}

#home-main-info h2 {
    color: #ff900c
}

#featured-box h2 {
    color: #fff
}

#home-main-info h2,
#featured-box h2 {
    font-size: 26px;
    font-weight: 600
}

#home-main-info span,
#featured-box span {
    display: inline-block;
    width: 170px;
    background: #FFCF03;
    height: 2px
}

#home-main-info p,
#featured-box p {
    font-size: 16px;
    margin-bottom: 20px
}

#featured-box .features,
.box-footer {
    color: #fff;
    background: rgba(19, 19, 22, 0.75)
}

.wrap-logo {
    height: 100px;
    overflow: hidden
}

.logo {
    text-align: center;
    background-image: url(asset/images/bg-logo.png);
    background-size: contain;
    background-position: 50% 0;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: -120px;
    height: 219px;
    padding: 10px
}

.header-logo {
    padding: 0 10px 10px;
    top: 61px;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.6)
}

.header-logo a {
    display: block;
    position: relative;
    width: 135px;
}

.logo-img {
    margin: 0 auto;
    max-height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-fixed-top {
    background-color: rgba(8, 8, 8, 0.6);
    -webkit-transition: all .8s ease-in;
    -moz-transition: all .8s ease-in;
    -o-transition: all .8s ease-in;
    transition: all .8s ease-in
}

.navbar-custom ul li {
    padding: 5px;
    font-size: 18px;
    font-weight: 600
}

.nav ul li a:hover,
.nav ul li a:active,
.nav ul li a::after,
.nav ul li a::before,
.navbar-custom ul li a:hover {
    background: transparent;
    text-decoration: underline
}

.nav-bottom ul li {
    display: inline;
    padding: 5px 20px;
    font-size: 16px
}

.nav ul li a,
.navbar-nav>li>a {
    color: white
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top
}

ul.nav.navbar-nav:before {
    margin-left: 0
}

li.btn.btn-rooms {
    margin: 15px;
    background-color: #fff;
    border: 1px solid #ff900c;
    border-radius: 0;
    display: inline-block
}

li.btn.btn-rooms a {
    color: #636363;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer
}

li.btn.btn-rooms:hover,
li.btn.btn-rooms:active {
    background-color: #ebebeb
}

.navbar .navbar-collapse {
    text-align: center
}

ul.nav.navbar-nav.sub-nav {
    margin-left: 12px
}

.button-check button.btn.btn-check {
    margin-top: 32px;
    padding: 7px;
    width: 100%
}

.home-carousel {
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.home-carousel.owl-carousel .owl-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    left: -50px
}

.home-carousel.owl-carousel .owl-next {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    right: -50px
}

.title-gallery-home {
    text-align: center
}

.title-gallery-home h2 {
    font-size: 20px;
    color: #d6903d;
    text-transform: uppercase
}

.owl-prev .glyphicon.glyphicon-chevron-left,
.owl-next .glyphicon.glyphicon-chevron-right {
    color: #d6903d;
    font-size: 20px
}

.owl-nav {
    display: none
}

nav .navbar-custom {
    margin-top: 15px;
    padding: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5)
}

.footer-credits {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    padding: 10px
}

.btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #ff900c;
    background: white;
    border: solid 2px white
}

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    border: 1px solid #ff900c;
    background-color: #ff900c;
    color: #ffffff;
    font-size: 20px;
    box-shadow: none;
    text-shadow: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out
}

.btn-check,
.btn-check:active {
    background-color: #ff900c;
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-transition: all .8s ease-in;
    -moz-transition: all .8s ease-in;
    -o-transition: all .8s ease-in;
    transition: all .8s ease-in
}

.btn-check:hover {
    background-color: #fff;
    color: #ff900c;
    border: 1px solid #ff900c
}

h1.title {
    font-size: 2.4rem;
    font-weight: 600
}

.rooms-post {
    padding: 10px
}

.room-post h2 a {
    font-size: 24px;
    padding-top: 5px
}

article p {
    margin-bottom: 20px;
    line-height: 1.5
}

.gallery-item img {
    height: auto
}

.room-thumb {
    text-align: left;
    margin-bottom: 10px
}

h2.title {
    text-align: left;
    margin-bottom: 0px;
    margin-top: 30px
}

h2.title-room-list {
    text-align: center;
    font-size: 20px
}

h2.title-room-list a {
    color: #000
}

.room-info {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px
}

.room-breakfast {
    font-size: 18px;
    padding: 5px;
    color: #fff;
    background-color: #bababa;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: inline-block
}

.room-price {
    color: #ff900c;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px
}

.book-room {
    text-transform: uppercase;
    padding: 10px;
    background-color: #ff900c;
    font-weight: 600;
    text-align: center;
    font-size: 18px
}

.book-room:hover {
    opacity: 0.9
}

.book-room a {
    color: #fff
}

.room-tax {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 30px
}

.room-detail a {
    color: #ff900c
}

.rooom-no {
    margin-bottom: 30px
}

.room-booking {
    border: 1px solid #ff900c;
    padding: 15px;
    margin: 15px
}

.room-booking .col-booking,
.room-booking .col-value {
    padding: 10px
}

.room-booking.col-booking.table>tbody>tr>td {
    border: none;
    color: #ff900c
}

.room-booking img {
    width: 100%
}

.room-details .form-control {
    margin-bottom: 10px
}

.room-title-box {
    background: rgba(17, 17, 17, 0.5);
    padding: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 100
}

.room-title-box {
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    max-width: 50%;
    margin: 0px auto
}

.room-title-box h2 {
    font-size: 16px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0
}

.room-balcony {
    font-style: italic
}

.room-box {
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    position: relative
}

.room-details-spec {
    background: -webkit-linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.9) 0%, transparent 100%);
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 0px;
    bottom: 10px;
    right: 0px;
    z-index: 100;
    font-weight: 600;
    vertical-align: middle
}

span.room-value {
    color: #ff900c
}

h3.room-details-f-title {
    background-color: #ebebeb;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #ff900c
}

.feature-box.col-md-12.col-md-4 {
    padding-left: 0;
    padding-right: 0
}

ul.room-features li {
    list-style-type: square
}

div#main_area {
    margin-left: auto;
    margin-right: auto
}

.contact-box {
    margin-top: 10px;
    background: #ebebeb;
    margin-bottom: 20px
}

.contact-headline {
    background: #ff900c;
    padding: 1px 10px;
    color: #fff;
    margin: 0 -15px
}

.contact-headline h3 {
    margin-top: 10px;
    margin-bottom: 10px
}

.contact-address {
    padding: 10px 0
}

.contact-info tr td:first-child,
.contact-info tr td:nth-child(2),
.contact-info tr td:nth-child(3) {
    padding-right: 10px;
    vertical-align: top
}

.contact-info ul {
    margin-left: 0;
    padding-left: 7px;
    vertical-align: top;
    margin-bottom: 0
}

.contact-info {
    margin-bottom: 20px
}

.contact-info table tbody tr {
    height: 2em
}

.thumb {
    overflow: hidden
}

.thumbnail {
    border: none;
    border-radius: 0
}

.thumbnail a>img,
.thumbnail>img {
    width: 100%;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in
}

.thumbnail a>img:hover,
.thumbnail>img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px
}

.box-gallery {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid #ff900c;
    border-bottom: 2px solid #ff900c;
    margin-bottom: 30px
}

.thumbnail-box {
    margin-top: 10px
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto
}

@font-face {
    font-family: 'Font-Name';
    src: url("fonts/font-name.eot");
    src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"), url("fonts/font-name.woff") format("woff"), url("fonts/font-name.ttf") format("truetype"), url("fonts/font-name.svg#font-name") format("svg");
    font-weight: normal;
    font-style: normal
}

@media only screen and (max-width: 768px) {
    .header-logo {
        padding: 1px 10px;
        position: fixed;
        background-color: transparent
    }
    .box-book-rooms {
        overflow: hidden
    }
    .header-logo img.logo-img {
        top: -60px
    }
    .room-details-spec {
        position: initial;
        background: transparent
    }
    .room-details-spec span.col-md-3 {
        display: inline-grid;
        color: #636363
    }
    input#to_date {
        background: transparent;
        color: #4a4a4a !important;
        text-align: left;
        border: none
    }
    span#to_date_day {
        padding: 5px 0;
        color: #fff;
        font-size: 16px
    }
    div#datetimepicker2 {
        display: inline-flex;
        float: left
    }
}

@media only screen and (max-width: 1024px) {
    .booking {
        top: 15vh;
        position: absolute;
        bottom: auto;
        max-width: 960px
    }
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-start,
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
    min-width: 0;
    margin: 0 !important;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick,
.caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick {
    width: calc(100% / 7);
    float: left;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1px;
    background: #f28e20;
    cursor: not-allowed !important;
    color: #fff;
    min-height: 30px;
    border-radius: 2px;
    position: relative
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span,
.caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 4px;
    top: 4px;
    bottom: 4px;
    right: 4px
}

.caleran-apply-d,
.caleran-apply {
    background: #f28e20 !important;
    border: 1px solid #f28e20 !important;
    color: #fff;
    margin-left: 7px
}

.caleran-container-mobile .caleran-input .caleran-footer button.caleran-cancel {
    background: #fff;
    border: 1px solid #f28e20 !important;
    color: #f28e20 !important
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end {
    background: #f28e20 !important;
    color: #fff
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
    text-align: left;
    max-width: 40vmin
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-day {
  float: right !important;
  margin-left: 10px !important;
  margin-right: 0px !important;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend {
    color: #be142f
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-weekday {
    margin-top: 0 !important;
}

@media (min-width: 1025px) {
    .map-section .contact-map {
        padding-left: 0
    }
    .map-section .near-desc {
        padding-right: 0
    }
}

.map-section .near-desc ul li span:first-child {
    margin-right: 15px
}

.map-section .near-desc ul li span:last-child {
    float: right
}
